#bannar_part{
  background: url(../images/bannarvector.png) no-repeat center;
  background-size: cover;
  background-color: rgb(48, 44, 44);
  padding-top: 210px;
  padding-bottom: 117px;
}


#bannar_part .text_blog .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 154px;
}
#bannar_part .text_blog .text h3{
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px; /* 89.13% */


}
#bannar_part .text_blog .text p{
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}
#bannar_part .text_blog .text p span{
  background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;

}
#error_part .container  img{
   margin: 120px auto;

}