#bannar_part{
  background: url(../images/bannarvector.png) no-repeat center;
  background-size: cover;
  background-color: rgb(48, 44, 44);
  padding-top: 210px;
  padding-bottom: 117px;
}


#bannar_part .text_blog .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 154px;
}
#bannar_part .text_blog .text h3{
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px; /* 89.13% */


}
#bannar_part .text_blog .text p{
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}
#bannar_part .text_blog .text p span{
  background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;

}





.cards_section{
  margin: 120px 0;
}

 .cards_section .container .row .col-lg-3 .card_type01{
  width: 342px;
  height: 408px;
  border-radius: 45px 45px 50px 50px;
  background: #000;
  position: relative;
}

 .cards_section .container .row .col-lg-3 .card_type01 img{
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

 .cards_section .container .row .col-lg-3 .card_type01 .one{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 225px;
  background: #ccc;
  clip-path: polygon( 11.404% 52.667%,11.404% 52.667%,8.991% 52.983%,6.915% 53.867%,5.155% 55.217%,3.691% 56.933%,2.504% 58.917%,1.572% 61.067%,0.876% 63.283%,0.395% 65.467%,0.11% 67.517%,0% 69.333%,0% 100%,100% 100%,100% 18.222%,100% 18.222%,99.873% 14.526%,99.509% 11.292%,98.934% 8.504%,98.175% 6.144%,97.259% 4.194%,96.211% 2.638%,95.057% 1.458%,93.825% 0.636%,92.539% 0.156%,91.228% 0%,53.509% 0%,53.509% 0%,51.381% 0.279%,49.549% 1.056%,47.992% 2.244%,46.692% 3.755%,45.632% 5.5%,44.793% 7.392%,44.156% 9.343%,43.703% 11.264%,43.415% 13.068%,43.275% 14.667%,43.129% 32.444%,43.129% 32.444%,42.924% 34.673%,42.634% 37.15%,42.215% 39.766%,41.627% 42.411%,40.826% 44.972%,39.771% 47.34%,38.419% 49.405%,36.729% 51.054%,34.658% 52.178%,32.164% 52.667%,11.404% 52.667% ); 
  z-index: 55;
}

 .cards_section .container .row .col-lg-3 .card_type01 .one_border{
  position: absolute;
  top: -10px;
  right: 10px;
  width: 100%;
  height: 225px;
  background: #ffffff;
  clip-path: polygon( 11.404% 52.667%,11.404% 52.667%,8.991% 52.983%,6.915% 53.867%,5.155% 55.217%,3.691% 56.933%,2.504% 58.917%,1.572% 61.067%,0.876% 63.283%,0.395% 65.467%,0.11% 67.517%,0% 69.333%,0% 100%,100% 100%,100% 18.222%,100% 18.222%,99.873% 14.526%,99.509% 11.292%,98.934% 8.504%,98.175% 6.144%,97.259% 4.194%,96.211% 2.638%,95.057% 1.458%,93.825% 0.636%,92.539% 0.156%,91.228% 0%,53.509% 0%,53.509% 0%,51.381% 0.279%,49.549% 1.056%,47.992% 2.244%,46.692% 3.755%,45.632% 5.5%,44.793% 7.392%,44.156% 9.343%,43.703% 11.264%,43.415% 13.068%,43.275% 14.667%,43.129% 32.444%,43.129% 32.444%,42.924% 34.673%,42.634% 37.15%,42.215% 39.766%,41.627% 42.411%,40.826% 44.972%,39.771% 47.34%,38.419% 49.405%,36.729% 51.054%,34.658% 52.178%,32.164% 52.667%,11.404% 52.667% ); 
  z-index: 2;
}

 .cards_section .container .row .col-lg-3 .card_type01 .tow{
  width: 100%;
  height: 183px;
  background: #F4F4FF;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 28px 36px 31px 35px;
  border-radius: 0 0 35px 35px;
}   

 .cards_section .container .row .col-lg-3 .card_type01 .tow .text_part{
    margin-top: 0;
}   
 .cards_section .container .row .col-lg-3 .card_type01 .tow .text_part h2{
  color: var(--Black, #1A1A1A);
  font-family: poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all linear 0.4s;
  margin-bottom: 16px;
}   

 .cards_section .container .row .col-lg-3 .card_type01 .tow .text_part p{
  color: var(--Body-Text-Color, #6B6161);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-align: justify;
}   

 .cards_section .container .row .col-lg-3 .card_type01:hover .tow .text_part h2{
  color: var(--Parbel, #3661FC);
}
 




#about_part .details_part{
  padding-bottom: 120px;
}

#about_part .details_part .container .row .col-lg-6 .mega_card .card{
  width: 528px;
  height: 546px;
  border: 0;
  overflow: visible;
  position: relative;
}

#about_part .details_part .container .row .col-lg-6 .mega_card .card .over_part{
  width: 100%;
  height: 456px;
  background: #CCCCCC;
   clip-path: polygon( 12.425% 1.066%,12.413% 1.066%,12.401% 1.066%,12.401% 1.066%,11.145% 1.155%,9.975% 1.336%,8.888% 1.604%,7.882% 1.951%,6.955% 2.369%,6.104% 2.853%,5.326% 3.395%,4.62% 3.988%,3.984% 4.625%,3.414% 5.298%,3.414% 5.298%,2.917% 5.99%,2.482% 6.699%,2.109% 7.417%,1.792% 8.137%,1.529% 8.852%,1.317% 9.554%,1.154% 10.235%,1.035% 10.888%,0.959% 11.505%,0.922% 12.079%,0.921% 12.1%,0.921% 12.121%,0.921% 61.463%,0.921% 61.463%,0.98% 62.684%,1.151% 63.814%,1.423% 64.855%,1.788% 65.809%,2.235% 66.681%,2.755% 67.472%,3.337% 68.186%,3.973% 68.824%,4.652% 69.39%,5.365% 69.887%,5.365% 69.887%,6.09% 70.312%,6.833% 70.678%,7.586% 70.989%,8.339% 71.249%,9.086% 71.459%,9.817% 71.624%,10.525% 71.747%,11.201% 71.831%,11.837% 71.878%,12.425% 71.894%,32.931% 71.894%,32.931% 71.894%,34.039% 71.943%,35.065% 72.085%,36.011% 72.313%,36.882% 72.618%,37.68% 72.991%,38.408% 73.426%,39.069% 73.914%,39.666% 74.448%,40.201% 75.018%,40.679% 75.618%,40.679% 75.618%,41.108% 76.248%,41.486% 76.896%,41.814% 77.554%,42.095% 78.214%,42.332% 78.87%,42.526% 79.512%,42.68% 80.134%,42.796% 80.728%,42.877% 81.286%,42.925% 81.8%,42.925% 90.194%,42.925% 90.194%,42.983% 91.317%,43.152% 92.358%,43.42% 93.318%,43.778% 94.2%,44.216% 95.006%,44.724% 95.739%,45.292% 96.402%,45.909% 96.997%,46.566% 97.525%,47.253% 97.991%,47.253% 97.991%,47.954% 98.393%,48.672% 98.744%,49.399% 99.046%,50.127% 99.3%,50.848% 99.511%,51.555% 99.681%,52.239% 99.812%,52.892% 99.907%,53.506% 99.969%,54.074% 100%,54.086% 100%,54.099% 100%,90.149% 100%,90.149% 100%,91.234% 99.946%,92.244% 99.791%,93.182% 99.541%,94.05% 99.205%,94.85% 98.791%,95.583% 98.307%,96.251% 97.761%,96.857% 97.16%,97.402% 96.514%,97.888% 95.829%,97.888% 95.829%,98.309% 95.131%,98.676% 94.414%,98.992% 93.688%,99.259% 92.96%,99.481% 92.237%,99.66% 91.528%,99.799% 90.84%,99.9% 90.182%,99.966% 89.561%,99.999% 88.986%,100% 88.965%,100% 88.945%,100% 11.808%,100% 11.808%,99.942% 10.525%,99.773% 9.339%,99.503% 8.247%,99.141% 7.247%,98.697% 6.336%,98.18% 5.511%,97.598% 4.768%,96.962% 4.105%,96.28% 3.519%,95.563% 3.006%,95.563% 3.006%,94.836% 2.574%,94.091% 2.204%,93.337% 1.893%,92.582% 1.638%,91.833% 1.435%,91.1% 1.279%,90.39% 1.168%,89.712% 1.098%,89.074% 1.065%,88.484% 1.066%,12.425% 1.066% );  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#about_part .details_part .container .row .col-lg-6 .mega_card .card .back_part {
  content: "";
  width: 107%;
  height: 456px;
  background: #ffffff;
  clip-path: polygon( 12.425% 1.066%,12.413% 1.066%,12.401% 1.066%,12.401% 1.066%,11.145% 1.155%,9.975% 1.336%,8.888% 1.604%,7.882% 1.951%,6.955% 2.369%,6.104% 2.853%,5.326% 3.395%,4.62% 3.988%,3.984% 4.625%,3.414% 5.298%,3.414% 5.298%,2.917% 5.99%,2.482% 6.699%,2.109% 7.417%,1.792% 8.137%,1.529% 8.852%,1.317% 9.554%,1.154% 10.235%,1.035% 10.888%,0.959% 11.505%,0.922% 12.079%,0.921% 12.1%,0.921% 12.121%,0.921% 61.463%,0.921% 61.463%,0.98% 62.684%,1.151% 63.814%,1.423% 64.855%,1.788% 65.809%,2.235% 66.681%,2.755% 67.472%,3.337% 68.186%,3.973% 68.824%,4.652% 69.39%,5.365% 69.887%,5.365% 69.887%,6.09% 70.312%,6.833% 70.678%,7.586% 70.989%,8.339% 71.249%,9.086% 71.459%,9.817% 71.624%,10.525% 71.747%,11.201% 71.831%,11.837% 71.878%,12.425% 71.894%,32.931% 71.894%,32.931% 71.894%,34.039% 71.943%,35.065% 72.085%,36.011% 72.313%,36.882% 72.618%,37.68% 72.991%,38.408% 73.426%,39.069% 73.914%,39.666% 74.448%,40.201% 75.018%,40.679% 75.618%,40.679% 75.618%,41.108% 76.248%,41.486% 76.896%,41.814% 77.554%,42.095% 78.214%,42.332% 78.87%,42.526% 79.512%,42.68% 80.134%,42.796% 80.728%,42.877% 81.286%,42.925% 81.8%,42.925% 90.194%,42.925% 90.194%,42.983% 91.317%,43.152% 92.358%,43.42% 93.318%,43.778% 94.2%,44.216% 95.006%,44.724% 95.739%,45.292% 96.402%,45.909% 96.997%,46.566% 97.525%,47.253% 97.991%,47.253% 97.991%,47.954% 98.393%,48.672% 98.744%,49.399% 99.046%,50.127% 99.3%,50.848% 99.511%,51.555% 99.681%,52.239% 99.812%,52.892% 99.907%,53.506% 99.969%,54.074% 100%,54.086% 100%,54.099% 100%,90.149% 100%,90.149% 100%,91.234% 99.946%,92.244% 99.791%,93.182% 99.541%,94.05% 99.205%,94.85% 98.791%,95.583% 98.307%,96.251% 97.761%,96.857% 97.16%,97.402% 96.514%,97.888% 95.829%,97.888% 95.829%,98.309% 95.131%,98.676% 94.414%,98.992% 93.688%,99.259% 92.96%,99.481% 92.237%,99.66% 91.528%,99.799% 90.84%,99.9% 90.182%,99.966% 89.561%,99.999% 88.986%,100% 88.965%,100% 88.945%,100% 11.808%,100% 11.808%,99.942% 10.525%,99.773% 9.339%,99.503% 8.247%,99.141% 7.247%,98.697% 6.336%,98.18% 5.511%,97.598% 4.768%,96.962% 4.105%,96.28% 3.519%,95.563% 3.006%,95.563% 3.006%,94.836% 2.574%,94.091% 2.204%,93.337% 1.893%,92.582% 1.638%,91.833% 1.435%,91.1% 1.279%,90.39% 1.168%,89.712% 1.098%,89.074% 1.065%,88.484% 1.066%,12.425% 1.066% ); 
  position: absolute;
  top: 12px;
  left: -25px;
  z-index: 1;
  border-radius: 0 0 0 210px;
}

#about_part .details_part .container .row .col-lg-6 .mega_card .card .bottom_part{
  width: 100%;
  height: 335px;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--Placeholder, #CCCCCC);
  position: absolute;
  bottom: 0;
  left: 0;
}

#about_part .details_part .container .row .col-lg-6 .mega_card .card .round_part{
  width: 184px;
  height: 264px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 10px solid var(--White, #FFF);
  background: var(--Placeholder, #CCC);
  position: absolute;
  top: 97px;
  right: -92px;
  z-index: 99;
}

.text_part{
  margin-top: 24px;
}

.text_part h4{
  color: var(--Parbel, #3661FC);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text_part h4 i{
  color: #fe651b;
  margin-right: 10px;
}

.text_part h2{
  color: var(--Black, #1A1A1A);
  font-family: poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 121.739% */
  margin-bottom: 28px;
}

.text_part p{
  color: var(--Body-Text-Color, #6B6161);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#about_part .details_part .container .row .col-lg-6 .text_part .listmark{
  display: flex;
  column-gap: 146px;
  margin-bottom: 48px;
}

#about_part .details_part .container .row .col-lg-6 .text_part .listmark .one p{
  color: var(--Black, #1A1A1A);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#about_part .details_part .container .row .col-lg-6 .text_part .listmark .one p i{
  color: #fe651b;
  margin-right: 10px;
}

.buttone_01{
  color: var(--White, #FFF);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-transform: capitalize;
  padding: 15px 33px;
  border-radius: 500px;
  background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
}





 #experience_part{
  padding: 0 !important;
} 

/* Bar setups */

.skills-bar .bar:not(first-child) {
  margin: 20px 0;
}

.skills-bar .bar .info {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.skills-bar .bar .info span{
  color: var(--Body-Text-Color, #6B6161);

  /* 4th Title */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.skills-bar h1 {
  text-align:center;
  text-transform: uppercase;
  text-shadow:
    0px 2px 3px rgba(0,0,0,.4),
    0px 4px 13px rgba(0,0,0,.1)
    ;
}

.skills-bar .bar .info span {
  font-weight: 500;
  font-size:17px;
  opacity: 0;
  animation: showText .5s 1s linear forwards;
}

/* Bar itself */
.skills-bar .bar .progress-line {
  height: 10px;
  width: 100%;
  border-radius: 500px;
  background: rgba(54, 97, 252, 0.15);
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin:left;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.5),
    0 1px rgba(255,255,255,.8);
  animation:animate 1s cubic-bezier(1,0,.5,1) forwards;
}

/* Skill's Bar */
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius:10px;
  transform:scaleX(0);
  transform-origin:left;
  background: #3661FC;
  animation: animate 1s 1s cubic-bezier(1,0,.5,1) forwards;
}

/* Skill's length */
.bar .progress-line.html span {
  width: 85%;
}

.bar .progress-line.css span {
  width: 93%;
}

.bar .progress-line.javascript span {
  width: 80%;
}

/* Background for the percentage numbers */
.progress-line span::before {
  position: absolute;
  content: '';
  top: -20px;
  right: -5px;
  height: 18px;
  width: 18px;
  clip-path: polygon( 50.652% 100%,1.303% 3.571%,100% 3.571%,50.652% 100% );
  background: #3661FC;
  opacity: 0;
  animation: showText2 .5s 1.5s linear forwards;
}

/* Percentage numbers */
.progress-line span::after{
  display: none;
  position: absolute;
  top: -28px;
  right: 0;
  font-weight:500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size:12px;
  border-radius:3px;
  opacity: 1;
  /* animation: showText2 .5s 1.5s linear forwards; */
}

.progress-line.html span::after {
  content: "85%";
}

.progress-line.css span::after {
  content: "95%";
}

.progress-line.javascript span::after {
  content: "80%";
}

.progress-line.mysql span::after {
  content: "65%";
}

.progress-line.php span::after {
  content: "50%";
}

/* Animations */
/* Bar's animation */
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

/* Skill's name animation */
@keyframes showText {
  100% {
    opacity: 1;
  }
}

/* Percentage number's animation */
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
#experience_part .container .row .col-lg-6 .image_part{
  width: 100%;
  height: 460px;
  border-radius: 50px;
  background: var(--Placeholder, #CCC);
  position: relative;
}
#experience_part .container .row .col-lg-6 .image_part .over_mark{
  padding: 15px 50px;
  border-radius: 500px;
  background: var(--White, #FFF);
  display: inline;
  color: var(--Black, #1A1A1A);
  /* 2nd Title */
  font-family: poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;     
  bottom: 30px;
  left: 172px;
}
#experience_part .container .row .col-lg-6 .image_part .over_mark span{
  background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
}





#success{
  margin: 120px 0 0;
}






#our_team{
  padding: 120px 0 0;
  background: var(--Off-White, #F4F4FF);
  margin-top: 119px;
}
#our_team .container{
  width: 100%;
}
#our_team .container .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
#our_team .container .title .logo_text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
#our_team .container .title .logo_text h3{
  color: var(--Parbel, #3661FC);
  /* 3rd Title */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#our_team .container .title h2{
  color: var(--Black, #1A1A1A);
  /* 1st Title */
  font-family: Nunito;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /*x 121.739% */
  margin-bottom: 47px;
}
#our_team .container .team {
  border-radius: 30px;
  background: var(--White, #FFF);
  /* width: 341px;
  height: 446px; */
  width: 100%;
  padding: 20px 20px 24px 20px;
  margin-left: 24px;
}
#our_team .container .team .team_member {
  width: 301px;
  height: 319px;
  border-radius: 20px;
  background: var(--Placeholder, #CCC);
}
#our_team .container .text_detail{
  text-align: center;
  margin-top: 24px;
  position: relative;
  z-index: 1;
}
#our_team .container .text_detail::before{
  content: "";
  background: white;
  width: 0;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all linear .4s;

}

#our_team .container .text_detail:hover::before{
  width: 300px;
   
}
#our_team .container .text_detail .icon{
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  color: #3661FC;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-top: 5px;
  opacity: 0;
  transition: all linear .4s;
}
#our_team .container .text_detail .icon i{
  padding: 13px;
  background: var(--Off-White, #F4F4FF);
  border-radius: 50%;

}
#our_team .container .text_detail:hover .icon {
  opacity: 1;
}
#our_team .container .text_detail .h3{
  color: var(--Black, #1A1A1A);
  text-align: center;
  /* 2nd Title */
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#our_team .container .text_detail p{
  color: var(--Body-Text-Color, #6B6161);
  /* 4th Title */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}





#counter_part{
  margin: 120px 0;
}
