#bannar_part{
    background: url(../images/bannarvector.png) no-repeat center;
    background-size: cover;
    background-color: rgb(48, 44, 44);
    padding-top: 210px;
    padding-bottom: 117px;
  }
  
  
  #bannar_part .text_blog .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 165px;
    padding-bottom: 154px;
  }
  #bannar_part .text_blog .text h3{
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px; /* 89.13% */
  
  
  }
  #bannar_part .text_blog .text p{
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
  }
  #bannar_part .text_blog .text p span{
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
  
  }


  #blog_part {
	padding: 120px 0;
}
#blog_part .container .row .box{
    display: flex;
    column-gap: 24px;
    box-sizing: border-box;
    margin-bottom: 24px;
}
#blog_part .container .images{
    border-radius: 30px;
    background: var(--Placeholder, #CCC);
    width: 464px;
    height: 387px;
    position: relative;

}
#blog_part .container .images .agency{
    width: 195px;
    height: 38px;
    border-radius: 500px;
    opacity: 0.7;
    background: var(--Parbel, #3661FC);
    position: absolute;
    left: 78px;
    top: 347px;
}
#blog_part .container .images .agency p{
    color: var(--White, #FFF);
    /* 4th Title */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: center;
    padding: 6px 16px 6px 16px;
}
#blog_part .container .images .image{
    position: relative;
}
#blog_part .container .images .image .date{
    width: 116px;
    height: 98px;
    position: absolute;
    bottom: -387px;
    left: -3px;
}
#blog_part .container .images .image .date p{
    border-radius: 30px;
    background: var(--Parbel, #3661FC);
    padding: 23px 23px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
 #blog_part .container .icon_text{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-top: 30px;
}
#blog_part .container .icon_text .client{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}
#blog_part .container .icon_text .client .icon i{
    color: #3661FC;
    font-size: 25px;
}
#blog_part .container .icon_text .client .texts p{
    color: var(--Body-Text-Color, #6B6161);
   
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
#blog_part .container .icon_text .comment{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}
#blog_part .container .icon_text .comment .icon i{
    color: #3661FC;
    font-size: 25px;
}
#blog_part .container .icon_text .comment .texts p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
#blog_part .container .icon_text .view{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}
#blog_part .container .icon_text .view .icon i{
    color: #3661FC;
    font-size: 25px;
}
#blog_part .container .icon_text .view .texts p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
#blog_part .container .title_text h5{
    color: var(--Parbel, #3661FC);
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    
} 
#blog_part .container .subscribe{
    width: 464px;
    height: 201px;
    border-radius: 20px;
    border: 1px solid var(--Gredient, #FE651B);
    background: var(--White, #FFF);
    padding: 34px 40px 40px 40px;
}
#blog_part .container .text_part{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    
}
#blog_part .container .subscribe h4{
    color: var(--Black, #1A1A1A);
    /* 2nd Title */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}
#blog_part .container .subscribe h4::after{
    content: "";
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    width: 72.5px;
    height: 1px;
    position: absolute;
    left: 3px;
    top: 42px;
}
#blog_part .container .subscribe .btn{
    width: 384px;
    height: 60px;
    border-radius: 5px;
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    margin-top: 24px;
    display: flex;
    column-gap: 265px;
    align-items: center;
}
#blog_part .container .subscribe .btn a{
    color: #E9E9E9;
    /* H5 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
#blog_part .container .subscribe .btn .icon i{
    font-size: 30px;
    color: #FFF;
}
#blog_part .container .catagory{
    width: 464px;
    height: 396px;
    border-radius: 20px;
    border: 1px solid var(--Gredient, #FE651B);
    background: var(--White, #FFF);
    padding: 34px 40px 40px 40px;
}
#blog_part .container .catagory h4{
    color: var(--Black, #1A1A1A);
    /* 2nd Title */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}
#blog_part .container .catagory h4::after{
    content: "";
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    width: 72.5px;
    height: 1px;
    position: absolute;
    left: 3px;
    top: 42px;
}
#blog_part .container .catagory .text{
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
#blog_part .container .catagory .text img{
     margin-top: -15px;
}
#blog_part .container .catagory .text p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 312.5% */
}
#blog_part .container .catagory  .text .number{
    color: var(--2nd-B, #636363);
    text-align: right;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 312.5% */
}
#blog_part .container .recent {
    width: 464px;
    height: 479px;
    border-radius: 20px;
    border: 1px solid var(--Gredient, #FE651B);
    background: var(--White, #FFF);
    padding: 34px 40px 40px 40px;
}
#blog_part .container .recent .title h4{
    color: var(--Black, #1A1A1A);
    /* 2nd Title */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    /* margin-left: -230px; */
}
#blog_part .container .recent .title h4::before{
    content: "";
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    width: 72.5px;
    height: 1px;
    position: absolute;
    left: 3px;
    top: 42px;
    margin-bottom: 24px;
}
#blog_part .container .image_detail {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 24px;
}
#blog_part .container .image_detail .image img{
    width: 92px;
    height: 92px;
}
#blog_part .container .image_detail .detail h4{
    color: var(--B, #252424);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#blog_part .container .tags {
    width: 464px;
    height: 380px;
    border-radius: 20px;
    border: 1px solid var(--Gredient, #FE651B);
    background: var(--White, #FFF);
    padding: 34px 40px 40px 40px;
    margin-top: -54px;
}
#blog_part .container .tags .title h4{
    color: var(--Black, #1A1A1A);
    /* 2nd Title */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    /* margin-left: -230px; */
}
#blog_part .container .tags .title h4::before{
    content: "";
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    width: 72.5px;
    height: 1px;
    position: absolute;
    left: 3px;
    top: 42px;
    margin-bottom: 24px;
}
/* #blog_part .container .image_detail {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 24px;
} */
#blog_part .container .tags .text_tag .text_1{
    display: inline-flex;
    padding: 7px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--Off-White, #F4F4FF);
    margin-top: 24px;
}
#blog_part .container .tags .text_tag .text_1 p{
    color: var(--Body-Text-Color, #6B6161);
    /* 4th Title */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
#blog_part .container .help {
    width: 464px;
    height: 552px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.60);
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.08);    
    padding: 34px 40px 40px 40px;
    margin-top: -165px;
}
#blog_part .container .help .title h4{
    color: var(--Black, #1A1A1A);
    /* 2nd Title */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    /* margin-left: -255px; */
}
#blog_part .container .help .title h4::before{
    content: "";
    background: rgba(255, 255, 255, 0.20);
    width: 384px;
    height: 1px;
    position: absolute;
    left: 3px;
    top: 42px;
    margin-bottom: 24px;
}
#blog_part .container .help .text{
    margin-top: 210px;
}
#blog_part .container .help .text h4{
    color: #FFF;
    /* 2nd Title */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#blog_part .container .help .text{
    color: #FFF;
    /* 4th Title */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
#blog_part .container .help .btn{
    padding: 15px 33px;
    border-radius: 500px;
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    
}
#blog_part .container .help .btn a{
    color: var(--White, #FFF);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-transform: capitalize;    
} 
#blog_part .container .bannar_text .image{
    width: 886px;
    height: 450px;
    border-radius: 20px;
    background: var(--Placeholder, #CCC);

}
#blog_part .container .bannar_text .text .text_1{
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    
}
#blog_part .container .bannar_text .text .text_1 p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-decoration-line: underline;
    margin-top: 10px;
    width: 140px;
}
#blog_part .container .bannar_text .text .text_1 img{
    width: 15px;
    height: 16px;
}
#blog_part .container .bannar_text .text .text_head h3{
    color: var(--Parbel, #3661FC);
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: -12px;
}
#blog_part .container .bannar_text .text .text_head p{
    color: var(--Black, #1A1A1A);
    /* 4th Title */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 870px; 
    margin-top: 20px;
}
#blog_part .container .bannar_text .text .name{
    display: flex;
    column-gap: 13px;

}
#blog_part .container .bannar_text .text .name .image{
    width: 33px;
    height: 33px;
    fill: var(--Placeholder, #CCC);    
}
#blog_part .container .bannar_text .text .name .text p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    text-transform: capitalize;
}
#blog_part .container .bannar_text .text .name .read{
    display: flex;
    column-gap: 13px;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
}
#blog_part .container .bannar_text .text .name .read p{
    color: var(--Black, #1A1A1A);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-transform: capitalize;
}
#blog_part .container .bannar_text .text .name .read img{
    margin-top: -14px;
}
/* #blog_part .container .bannar_text{
    margin-bottom: 50px;
} */