
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

.container{
  max-width: 1440px;
}




.nav {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../images/Shape-mainbg.png);
    padding-bottom: 10px;
  }
  .main {
    background-color: #3661fc;
    padding: 10px 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
  }
  .nav-right {
    display: flex;
    justify-content: end;
    padding-top: 10px;
  }
  .nav-left h2 {
    /* font-family: "Nunito Sans", sans-serif; */
    font-size: 14px;
    color: #ffff;
    padding-top: 16px;
  }
  .flag {
    padding-right: 46px;
  }
  .flag span {
    color: #fff;
    /* font-family: "Nunito Sans", sans-serif; */
    font-size: 14px;
    padding-left: 10px;
  }
  .right-icon a {
    position: relative;
    font-size: 15px;
    color: #95acff;
    padding-left: 25px;
    transition: all linear 0.5s;
  }
  .right-icon a:hover {
    color: #fe651b;
  }
  .right-icon a::after {
    position: absolute;
    content: "";
    top: 0;
    right: -13px;
    height: 100%;
    width: 1px;
    background: #708fff;
  }
  .right-icon a:last-child::after {
    display: none;
  }
  .logo-icon a {
    color: #fe651b;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ffff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }
  .logo {
    padding: 30px 0;
  }
  .icon-text {
    padding-left: 18px;
  }
  .icon-text p {
    color: #1a1a1a;
    /* font-family: "DM Sans", sans-serif; */
    font-weight: 500;
    font-size: 18px;
  }
  .icon-text p span {
    color: #5b5b5b;
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 400;
    font-size: 14px;
  }
  .logo-wrapper {
    display: flex;
    padding: 30px 0;
  }
  .wrapper-2 {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    background: #fff;
    padding: 25px 0;
    border-radius: 50px;
}
  .menu-item ul {
    display: flex;
  }
  .menu-item ul li a {
    position: relative;
    color: #1a1a1a !important;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-right: 20px;
  }
  .menu-item ul li a::after {
    position: absolute;
    content: "";
    bottom: -38px;
    left: 0;
    height: 2px;
    width: 0%;
    background: #fe651b;
  }
  .menu-item ul li a:hover {
    color: #fe651b !important;
    transition: all linear 0.5s;
  }
  .menu-item ul li a:hover::after {
    width: 80%;
    transition: all linear 0.5s;
  }
  .src-btn a {
    background: #f4f4ff;
    color: #fe651b;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid hsl(20, 99%, 55%);
    font-size: 24px;
    line-height: 56px;
    text-align: center;
  }
  .shop-btn {
    padding-left: 25px;
    position: relative;
  }
  .shop-btn a {
    background: #f4f4ff;
    color: #fe651b;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid hsl(20, 99%, 55%);
    font-size: 24px;
    line-height: 56px;
    text-align: center;
  }
  .shop-num {
    right: 0;
    top: 0;
    position: absolute;
    height: 18px;
    width: 18px;
    background: #3661fc;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    color: #ffff;
    font-size: 14px;
  }
  .free-btn button {
    background: linear-gradient(#FE651B , #FFAA52);
    height: 55px;
    width: 180px;
    border-radius: 55px;
    border: none;
  }
  .free-btn button a {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
  }
  .agency h5 {
    color: #3661fc;
    /* font-family: "DM Sans", sans-serif; */
    font-size: 25px;
    padding-top: 162px;
  }




.agency h5 {
    color: #3661fc;
    /* font-family: "DM Sans", sans-serif; */
    font-size: 25px;
    padding-top: 162px;
  }
  .agency h1 {
    color: #1a1a1a;
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: bold;
    font-size: 60px;
    padding-top: 20px;
    width: 683px;
  }
  .agency p {
    color: #6b6161;
    /* font-family: "DM Sans", sans-serif; */
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
  }
  .agency h1 span {
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .more {
    padding-bottom: 92px;
  }
  .more button {
    background: linear-gradient(#FE651B , #FFAA52);
    height: 55px;
    width: 180px;
    border-radius: 55px;
    border: none;
    margin-right: 20px;
  }
  .more button a {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
  }
  .more button:hover {
    background: #fff;
    transition: all linear 0.5s;
  }
  .more button:hover a {
    color: #1a1a1a;
    transition: all linear 0.5s;
  }
  .vegtor1 {
    position: absolute;
    right: 10%;
    bottom: 10%;
  }
  .vegtor2 {
    position: absolute;
    right: 50%;
    top: 40%;
  }
  .vegtor3 {
    position: absolute;
    left: 10%;
    top: 35%;
  }
  .vegtor4 {
    position: absolute;
    left: 30%;
    bottom: 5%;
  }
  .vegtor5 {
    position: absolute;
    right: 15%;
    top: 40%;
  }





#card_part{
    margin: 93px 0;
}

#card_part .container .row .col-lg-3{
    position: relative;
}
#card_part .container .row .col-lg-3 .card_01{
    width: 308px;
    height: 421px;
    clip-path: polygon( 3.711% 14.602%,3.711% 14.602%,3.797% 13.804%,3.973% 13.016%,4.239% 12.241%,4.592% 11.482%,5.03% 10.741%,5.552% 10.022%,6.156% 9.326%,6.839% 8.658%,7.6% 8.02%,8.437% 7.415%,8.437% 7.415%,9.342% 6.849%,10.305% 6.328%,11.322% 5.853%,12.387% 5.426%,13.497% 5.048%,14.648% 4.721%,15.835% 4.445%,17.053% 4.222%,18.298% 4.054%,19.566% 3.942%,78.836% 0.06%,78.836% 0.06%,79.571% 0.022%,80.307% 0.002%,81.042% 0.002%,81.776% 0.021%,82.508% 0.059%,83.236% 0.116%,83.961% 0.191%,84.681% 0.286%,85.394% 0.399%,86.101% 0.531%,86.101% 0.531%,86.798% 0.681%,87.483% 0.848%,88.156% 1.034%,88.816% 1.236%,89.461% 1.455%,90.091% 1.69%,90.705% 1.942%,91.302% 2.21%,91.882% 2.493%,92.444% 2.792%,92.444% 2.792%,92.985% 3.105%,93.504% 3.431%,94% 3.77%,94.473% 4.121%,94.922% 4.484%,95.346% 4.858%,95.745% 5.243%,96.119% 5.638%,96.467% 6.044%,96.788% 6.458%,96.788% 6.458%,97.081% 6.881%,97.345% 7.31%,97.58% 7.745%,97.786% 8.186%,97.962% 8.631%,98.109% 9.08%,98.225% 9.533%,98.312% 9.989%,98.368% 10.448%,98.394% 10.908%,100% 82.955%,100% 82.955%,99.971% 83.756%,99.851% 84.55%,99.64% 85.333%,99.34% 86.104%,98.954% 86.857%,98.482% 87.592%,97.926% 88.304%,97.289% 88.992%,96.572% 89.652%,95.776% 90.28%,95.776% 90.28%,94.909% 90.872%,93.981% 91.419%,92.996% 91.922%,91.958% 92.378%,90.872% 92.786%,89.743% 93.145%,88.573% 93.452%,87.369% 93.708%,86.133% 93.909%,84.871% 94.054%,20.297% 100%,20.297% 100%,19.527% 100.06%,18.755% 100.099%,17.982% 100.117%,17.209% 100.114%,16.437% 100.089%,15.668% 100.044%,14.902% 99.978%,14.141% 99.891%,13.386% 99.783%,12.638% 99.654%,12.638% 99.654%,11.899% 99.505%,11.173% 99.336%,10.46% 99.148%,9.762% 98.94%,9.08% 98.714%,8.414% 98.47%,7.765% 98.208%,7.134% 97.928%,6.523% 97.63%,5.932% 97.316%,5.932% 97.316%,5.364% 96.985%,4.821% 96.64%,4.303% 96.282%,3.811% 95.909%,3.345% 95.524%,2.907% 95.127%,2.497% 94.717%,2.116% 94.297%,1.764% 93.866%,1.441% 93.425%,1.441% 93.425%,1.15% 92.975%,0.892% 92.519%,0.665% 92.057%,0.472% 91.59%,0.311% 91.118%,0.184% 90.642%,0.089% 90.163%,0.029% 89.681%,0.002% 89.197%,0.008% 88.713% );
    background: #fff;
    box-shadow: 10px 13px 21px -2px rgba(0,0,0,0.62);
    -webkit-box-shadow: 10px 13px 21px -2px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 13px 21px -2px rgba(0,0,0,0.62);
    transition: all linear .4s;
}
#card_part .container .row .col-lg-3 .card_01:hover{
    background: #F4F4FF;
}
#card_part .container .row .col-lg-3 .card_01:hover .image .vector{
    background:linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
}
#card_part .container .row .col-lg-3 .card_01 .image{
    display: flex;
    justify-content: center;
    padding: 70px 0 50px;
}
#card_part .container .row .col-lg-3 .card_01 .image .vector{
    width: 95px;
    height: 95px;
    background: #3661FC;
    border-radius: 50%;
    transition: all linear .4s ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card_part .container .row .col-lg-3 .card_01 h5{
    color: #000;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 15px;
}
#card_part .container .row .col-lg-3 .card_01 p{
    color: var(--Body-Text-Color, #6B6161);
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 260px;
    text-align: center;
    margin: 0 auto;
}
#card_part .container .row .col-lg-3 .hover{
    position: absolute;
    left: 12px;
    top: 0;
    width: 308px;
    height: 421px;
    clip-path: polygon( 3.711% 14.602%,3.711% 14.602%,3.797% 13.804%,3.973% 13.016%,4.239% 12.241%,4.592% 11.482%,5.03% 10.741%,5.552% 10.022%,6.156% 9.326%,6.839% 8.658%,7.6% 8.02%,8.437% 7.415%,8.437% 7.415%,9.342% 6.849%,10.305% 6.328%,11.322% 5.853%,12.387% 5.426%,13.497% 5.048%,14.648% 4.721%,15.835% 4.445%,17.053% 4.222%,18.298% 4.054%,19.566% 3.942%,78.836% 0.06%,78.836% 0.06%,79.571% 0.022%,80.307% 0.002%,81.042% 0.002%,81.776% 0.021%,82.508% 0.059%,83.236% 0.116%,83.961% 0.191%,84.681% 0.286%,85.394% 0.399%,86.101% 0.531%,86.101% 0.531%,86.798% 0.681%,87.483% 0.848%,88.156% 1.034%,88.816% 1.236%,89.461% 1.455%,90.091% 1.69%,90.705% 1.942%,91.302% 2.21%,91.882% 2.493%,92.444% 2.792%,92.444% 2.792%,92.985% 3.105%,93.504% 3.431%,94% 3.77%,94.473% 4.121%,94.922% 4.484%,95.346% 4.858%,95.745% 5.243%,96.119% 5.638%,96.467% 6.044%,96.788% 6.458%,96.788% 6.458%,97.081% 6.881%,97.345% 7.31%,97.58% 7.745%,97.786% 8.186%,97.962% 8.631%,98.109% 9.08%,98.225% 9.533%,98.312% 9.989%,98.368% 10.448%,98.394% 10.908%,100% 82.955%,100% 82.955%,99.971% 83.756%,99.851% 84.55%,99.64% 85.333%,99.34% 86.104%,98.954% 86.857%,98.482% 87.592%,97.926% 88.304%,97.289% 88.992%,96.572% 89.652%,95.776% 90.28%,95.776% 90.28%,94.909% 90.872%,93.981% 91.419%,92.996% 91.922%,91.958% 92.378%,90.872% 92.786%,89.743% 93.145%,88.573% 93.452%,87.369% 93.708%,86.133% 93.909%,84.871% 94.054%,20.297% 100%,20.297% 100%,19.527% 100.06%,18.755% 100.099%,17.982% 100.117%,17.209% 100.114%,16.437% 100.089%,15.668% 100.044%,14.902% 99.978%,14.141% 99.891%,13.386% 99.783%,12.638% 99.654%,12.638% 99.654%,11.899% 99.505%,11.173% 99.336%,10.46% 99.148%,9.762% 98.94%,9.08% 98.714%,8.414% 98.47%,7.765% 98.208%,7.134% 97.928%,6.523% 97.63%,5.932% 97.316%,5.932% 97.316%,5.364% 96.985%,4.821% 96.64%,4.303% 96.282%,3.811% 95.909%,3.345% 95.524%,2.907% 95.127%,2.497% 94.717%,2.116% 94.297%,1.764% 93.866%,1.441% 93.425%,1.441% 93.425%,1.15% 92.975%,0.892% 92.519%,0.665% 92.057%,0.472% 91.59%,0.311% 91.118%,0.184% 90.642%,0.089% 90.163%,0.029% 89.681%,0.002% 89.197%,0.008% 88.713% );
    background:linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
    z-index: -1;
    transition: all linear .4s;
}
#card_part .container .row .col-lg-3:hover .hover{
    transform: rotate(-11deg);
}






#about_part{
    padding: 0 0 144px 0;
    background: url(../imges/about_bg_h_02.png) no-repeat center;
    background-size: cover;
}
#about_part .container .row .col-lg-6 .image{
    width: 100%;
    padding-top: 120px;
}
#about_part .container .row .col-lg-6 .image img{
    width: 610px;
}
#about_part .container .row .col-lg-6 h5{
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom:16px;
    padding-top: 175px;
}
#about_part .container .row .col-lg-6 h3{
    color: var(--Black, #1A1A1A);
    font-family: Nunito;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 27px;
}
#about_part .container .row .col-lg-6 .about_p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 32px;
}
#about_part .container .row .col-lg-6 .text .details{
    display: flex; 
    align-items: center;
    column-gap: 12px;
    padding-bottom: 6px;
}
#about_part .container .row .col-lg-6 .text .details i{
    width: 17px; 
    height: 17px; 
    background:linear-gradient(#0F7AEF, #6CE3FF);
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
}
#about_part .container .row .col-lg-6 .text .details p{
    color: var(--Black, #1A1A1A);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#about_part .container .row .col-lg-6 button{
    border: 0;
    outline: 0;
    background: transparent;
}
#about_part .container .row .col-lg-6 button a{
    color: var(--White, #FFF);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    background: linear-gradient(#FE651B , #FFAA52);
    border: 1px solid #FE651B;
    padding: 15px 33px;
    border-radius: 500px;
    transition: all linear .4s;
}
#about_part .container .row .col-lg-6 button:hover a{
    background: transparent;
    color: #000;
}





#our_service_part{
    padding: 115px 0 90px 0;
    background:#F4F4FF;
}
#our_service_part .container h6{
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 10px;
}
#our_service_part .container h2{
    color: var(--Black, #1A1A1A);
    font-family: Nunito;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    padding-bottom: 46px;
}
#our_service_part .container .row .col-lg-12 .service{
    border-radius: 50px;
    padding: 20px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    column-gap: 60px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    transition: all linear .4s;
}
#our_service_part .container .row .col-lg-12 .service:hover{
    border: 1px solid #FE651B;
}
#our_service_part .container .row .col-lg-12 .service .image{
    width: 390px;
    height: 197px;
    background: #CCCCCC;
    border-radius: 50px;
}
#our_service_part .container .row .col-lg-12 .service .text h5{
    color: var(--Black, #1A1A1A);
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#our_service_part .container .row .col-lg-12 .service .text p {
	color: var(--Body-Text-Color, #6B6161);
	font-family: DM Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	width: 608px;
}
#our_service_part .container .row .col-lg-12 .service button{
    border: 0;
    outline: 0;
    background: transparent;
}
#our_service_part .container .row .col-lg-12 .service button a {
	color: var(--Black, #1A1A1A);
	font-family: DM Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-transform: capitalize;
	background-color: transparent;
	border: 1px solid #FE651B;
	padding: 14px 23px;
	border-radius: 500px;
    transition: all linear .4s;
}
#our_service_part .container .row .col-lg-12 .service button:hover a {
	color: #fff;
	background:#FE651B;
}





#portfolio_part{
    padding: 115px 0 90px 0;
    background:#F4F4FF;
}
#portfolio_part  h6{
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 10px;
}
#portfolio_part  h2{
    color: var(--Black, #1A1A1A);
    font-family: Nunito;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    padding-bottom: 46px;
}
#portfolio_part .row .col-lg-12 .slide_part{
    overflow: hidden;
}
#portfolio_part .row .col-lg-12 .slide_part .slider{
    width: 426px;
    height: 426px;
    position: relative;
    margin: 0 12px;
}
#portfolio_part .row .col-lg-12 .slide_part .slider .image{
    width: 100%;
    height: 100%;
    background: #CCC;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all linear .4s;
}
#portfolio_part .row .col-lg-12 .slide_part .slider .image:hover{
    position: absolute;
    left: 0px;
    top: -103px;
    border-radius: 10px 10px 50px 50px;
}
#portfolio_part .row .col-lg-12 .slide_part .slider .text{
    width: 100%;
    background: #F4F4F4;
    padding: 60px 50px 28px;
    display: flex;
    justify-content: space-between;
    border-radius:0 0 50px 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#portfolio_part .row .col-lg-12 .slide_part .slider .text .tx_details h5{
    color: var(--Black, #1A1A1A);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#portfolio_part .row .col-lg-12 .slide_part .slider .text .tx_details p{
    color: var(--Body-Text-Color, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#portfolio_part .row .col-lg-12 .slide_part .slider .text i{
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    background: linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%);
}
.left{
	display: inline-block;
	position: absolute;
	top: 201px;
	left: 293px;
	z-index: 1;
	width: 60px;
	height: 60px;
	background: #fff;
	text-align: center;
	line-height: 60px;
	color: #FE651B;
	border-radius: 50%;
}
.right{
	display: inline-block;
	position: absolute;
	top: 201px;
	right: 240px;
	z-index: 1;
	width: 60px;
	height: 60px;
	background: #fff;
	text-align: center;
	line-height: 60px;
	color: #FE651B;
	border-radius: 50%;
}





.business-tools h6 {
  background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .business-tools h2 {
    color: #1a1a1a;
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: bold;
    font-size: 40px;
    padding: 16px 116px 27px 0;
  }
  .business-tools p {
    color: #6b6161;
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 40px;
    padding-right: 172px;
  }
  .tools-shape {
    background: hwb(45 7% 1% / 0.199);
    padding: 40px 32px;
    border-radius: 50px;
    width: 572px;
  }
  .tools-shape h4 {
    color: #1a1a1a;
    /* font-family: "DM Sans", sans-serif; */
    font-weight: 400;
    font-size: 18px;
  }
  .increase {
    padding-right: 70px;
  }
  .increase h3 {
    color: #3661fc;
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: bold;
    font-size: 24px;
  }
  .increase h5 {
    color: #6b6161;
    /* font-family: "DM Sans", sans-serif; */
    font-weight: 400;
    font-size: 11px;
  }
  .increse-wrapper {
    display: flex;
  }
.col-lg-5 .business-right{
  width: 100%;
}
.col-lg-5 .business-right img{
  width: 100%;
}



.test-img {
  padding-top: 120px;
  padding-bottom: 114px;
}
.test-img img {
    height: 100%;
    width: 100%;
}





#common_question_part .container{
  padding-bottom: 90px;
}
#common_question_part .container .row .col-lg-6  h6 {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--Gredient, linear-gradient(90deg, #FE651B -0.02%, #FFAA52 100.06%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 16px;
  padding-top: 119px;
}
#common_question_part .container .row .col-lg-6 h6 img{
  display: inline-block;
  margin-right: 10px;
}
#common_question_part .container .row .col-lg-6 h3{
  color: var(--Black, #1A1A1A);
  font-family: Nunito;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 47px;
}
#common_question_part .container .row .col-lg-6 .row .col-lg-6 p{
  color: var(--Black, #1A1A1A);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 500px;
  background: var(--Off-White, #F4F4FF);
  padding: 17px 30px;
  transition: all linear .4s;
  margin-bottom: 20px;
}
#common_question_part .container .row .col-lg-6 .row .col-lg-6 p:hover{
  color: var(--Black, #fff);
  background: var(--Parbel, #3661FC);
}
#common_question_part .container .row .col-lg-6 .row .col-lg-6 p img{
  display: inline-block;
  margin-right: 15px;
}


#common_question_part .container .row .col-lg-6 .row .col-lg-6 .image{
  width: 100%;
  padding-top: 1px;
}
#common_question_part .container .row .col-lg-6 .row .col-lg-6 .image img{
  width: 100%;
}
#common_question_part .container .row .col-lg-6 .text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 40px;
  border-radius: 500px;
  background: var(--White, #FFF);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}
#common_question_part .container .row .col-lg-6 .text h5{
  color: var(--Black, #1A1A1A);
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all linear .4s;
}
#common_question_part .container .row .col-lg-6 .text h5:hover{
  color: var(--Black, #3661FC);
}
#common_question_part .container .row .col-lg-6 .text i{
  font-size: 23px;
  color: #3661FC;
}
#common_question_part .container .row .col-lg-6 .text_details{
  padding: 23px 40px 26px;
  border-radius: 50px;
  background: var(--White, #FFF);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}
#common_question_part .container .row .col-lg-6 .text_details .text01{
  display: flex;
  justify-content: space-between;
}
#common_question_part .container .row .col-lg-6 .text_details .text01 h5{
  color: var(--Black, #1A1A1A);
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all linear .4s;
}
#common_question_part .container .row .col-lg-6 .text_details .text01 h5:hover{
  color: var(--Black, #3661FC);
}
#common_question_part .container .row .col-lg-6 .text_details .text01 i{
  font-size: 23px;
  color: #3661FC;
}
#common_question_part .container .row .col-lg-6 .text_details p{
  color: var(--Body-Text-Color, #6B6161);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  padding-top: 16px;
}


  


  #blog {
    background: #f4f4ff;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .blog-post img {
    height: 100%;
    width: 100%;
  }
  .blog-text {
    text-align: center;
  }
  .blog-text h4 {
    color: #fe651b;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  .blog-text h2 {
    color: #1a1a1a;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-top: 16px;
    padding-bottom: 47px;
  }





#team{
    padding-top: 120px;
    padding-bottom: 120px;
}
.win-wrapper{
    display: flex;
    justify-content: space-between;
}
.windows img{
    height: 100%;
    width: 100%;
}
.windows{
    margin: 10px;
}



  

footer{
    background: url(../images/footer_bg_02.jpg) no-repeat center/cover;
    padding: 60px 0 100px;
}

footer #footer_secction .container .row .col-lg-4 .p1{
    color: var(--White, #6B6161);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
} 

footer #footer_secction .container .row .col-lg-4 .p2{
    color: var(--White, #1A1A1A);
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 
footer #footer_secction .container .row .col-lg-5 .search{
    width: 535px;
    position: relative;
} 
footer #footer_secction .container .row .col-lg-5 .search input{
    color: #B1B1B1;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 100%;
    height: 100%;
    padding: 27px 35px;
    border-radius: 500px;
    border: 0;
    outline: 0;
} 
footer #footer_secction .container .row .col-lg-5 .search .search_cutton{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10px, -50%);
    width: 180px;
    height: 55px;
    background: linear-gradient(#FE651B , #FFAA52);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White, #FFF);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-transform: capitalize;
} 
footer #footer_secction .top_footer{
    border-bottom: 1px  solid #D7DFFE;
    padding-bottom: 60px;
}
footer #footer_secction .main_footer{
    padding-top: 93px;
}
footer #footer_secction .main_footer .row .footer_tittle{
    color: var(--White, #1A1A1A);
    font-family: poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    padding-bottom: 12px;
}
footer #footer_secction .main_footer .row .footer_tittle::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 67px;
    height: 2px;
    border-radius: 500px;
    background:#1A1A1A;
}
footer #footer_secction .main_footer .row .footer_p{
    color: #6B6161;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: justify;
    margin: 23px 0;
}
footer #footer_secction .main_footer .row .icons{
    display: flex;
    column-gap: 17px;
}
footer #footer_secction .main_footer .row .icons a i{
    font-size: 16px;
    color: #3661FC;
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer #footer_secction .main_footer .row .footer_list{
    padding-left: 0 !important;
}
footer #footer_secction .main_footer .row .footer_list li a{
    color: #6B6161;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 225% */
    transition: all linear 0.4s;
}
footer #footer_secction .main_footer .row .footer_list li a i{
    font-size: 7px;
    margin-right: 10px;
    color: #3661FC;
}
footer #footer_secction .main_footer .row .footer_list li a:hover {
    color: #708FFF;
}
footer #footer_secction .main_footer .row .col-lg-3 .box{
    margin-top: 30px;
}
footer #footer_secction .main_footer .row .col-lg-3 .box .one{
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}
footer #footer_secction .main_footer .row .col-lg-3 .box .one .image{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: #CCCCCC;
}
footer #footer_secction .main_footer .row .col-lg-3 .box .one .text p{
    color: #6B6161;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    width: 176px;
    margin-bottom: 11px;
}
footer #footer_secction .main_footer .row .col-lg-3 .box .one .text p i{
    color: #3661FC;
    margin-right: 10px;
}
footer #footer_secction .main_footer .row .contact_part .contact_box{
    margin-top: 27px;
}
footer #footer_secction .main_footer .row .contact_part a{
    display: block;
    color: #6B6161;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
footer #footer_secction .main_footer .row .contact_part a{
    display: block;
    color: #6B6161;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 14px;
}
footer #footer_secction .main_footer .row .contact_part a i{
    font-size: 20px;
    margin-right: 22px;
    color: #3661FC;
}
#contact_part{
    background: var(--Parbel, #fff);
    padding: 22px 0;
}
#contact_part .bottom_footer{
    display: flex;
    justify-content: space-between;
}
#contact_part .bottom_footer p{
    color: var(--White, #1A1A1A);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 0;
}
#contact_part .bottom_footer p i{
    margin: 0 30px ;
}







